In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("data.csv").

In [9]:
df.head(2)

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,20MICRONS,EQ,18-Feb-2022,77.9,77.85,79.55,76.30,77.00,77.20,77.64,122561,95.15,1766,51994,42.42
1,21STCENMGM,EQ,18-Feb-2022,34.6,33.95,33.95,33.95,33.95,33.95,33.95,3970,1.35,37,3970,100.00

In [14]:
print(df.get("SYMBOL").dtype) # getting symbols col datatype from dataframe

object

In [39]:
new_df = df.get("SYMBOL").astype("category") # category datatype for reducing size of the dataframe