In [1]:
import pandas as pd

In [2]:
df = pd.read_json("work.json")

In [3]:
df

    name school  marks
0  arnab    dav      1
1  arnab    dav      2
2  arnab    dav      3
3  arnab    dav      4
4  arnab    dav      5
5  arnab    dav     65

In [5]:
df.to_dict()

{'name': {0: 'arnab',
  1: 'arnab',
  2: 'arnab',
  3: 'arnab',
  4: 'arnab',
  5: 'arnab'},
 'school': {0: 'dav', 1: 'dav', 2: 'dav', 3: 'dav', 4: 'dav', 5: 'dav'},
 'marks': {0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 65}}